@import "tailwindcss";
body ,html, #root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    background-color: #EBEBEB;
    padding: 0;
}
/* Hide scrollbar using a custom utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  